<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>

<body>
    <hgroup>
        <h1 style="color:red"><b>Error !</b></h1>
        <h2>An error occurred while processing your request.Please try again.<br />
        If the Error persists please contact:  <a class="text-primary" href="http://www.kineticwizard.com.na/" target="_blank"> Kinetic Wizard IT department</a>.</h2>
    </hgroup>
</body>
</html>
