@model WebApplication20.Models.Sys_ErfArea

@{
    ViewBag.Title = "Create";
}





<div class="form-horizontal">
    <div class="row">
        <div class="col-xl-6">
            <!-- ====================================
                    ——— 1st FORM
            ===================================== -->

            <div class="card card-default">
                <div class="card-header">
                    <h2 style="color: rebeccapurple;font-weight: bold">ERF AREA DETAILS</h2>

                </div>
                <div class="card-body">
                    <div class="collapse" id="collapse-from-validation">
                        <pre class="language-html mb-4">
                             </pre>
                    </div>

                    <div>
                        <div class="form-row">
                            <div class="col-xl-6">
                                <div class="mb-5">
                                    <label class="text-dark font-weight-medium">ERF AREA</label>
                                    <div class="input-group mb-3" style="color:mediumpurple">
                                        @Html.DisplayFor(model => model.ErfArea)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mb-">
                            </div>

                            <div class="col-md-12 mb-">
                            </div>

                            <div class="col-md-12 mb-">
                            </div>

                            <div class="col-md-12 mb-">
                            </div>

                        </div>
                        <br />
                    </div>

                </div>
            </div>

        </div>

    </div>
   
</div>



<br />

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ErfAreaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


